@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./Composants/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";

a {
    text-decoration: none;
    
}
.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &--line{
        display: flex;
        flex-direction: row;
    }
    &__txt--bold{
        color: red;
    }
}