
.btn{
    @include btn;
    @extend %shadow;
}

.caption__heart{
    position: relative;
    padding: 3vw;
    border: none;
    background-color: white;
        &--full{
            opacity: 0;
            position: absolute;
            font-size: 5vw;
            z-index: 2;
            @extend %heartpos;
            color: $primary-color;    
            &:hover{
                opacity: 1;
            }
        }
        &--empty{
            
            position: absolute;
            font-size: 5vw;
            z-index: 1;
            @extend %heartpos; 
        }
    
}