.heat{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 5;
    width: 19vw;
    padding-left: 40%;
    &__steam{
        width: 1vw;
        height: 2vw;
        background-color: $primary-color;
        border-radius: 1vw;
        transform:translateY(22.5vw);
        animation: steam $steam-dur linear;
        animation-iteration-count: 4;
      
        @for $i from 1 through 5 {   
            &--#{$i} {
                animation-delay: $steam-delay * $i + random(50)*15ms;                 
            }
        }
    }
  }
  .pan{
    padding: 20% 40%;
    position: relative;
    z-index: 10;
    animation: panshake 1000ms linear;
    animation-iteration-count:infinite;
    animation-fill-mode: both;
    &__body{
        width: 20vw;
        height: 3vw;
        background-color: black;
        border-radius: 0.2vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
    }
    &__handle{
        position: absolute;
        width: 18vw;
        height: 1vw;
        background-color: black;
        left: 59vw;
        top: 17.8vw;
        transform: rotate(-16deg);
        border-radius: 0.5vw;
        @include desktop{
            left: 58.8vw;
            top: 17.5vw;
        }
    }
  }

//Buttons des pages menu//

.btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 99%;
    @extend %radius;
    @extend %shadow;
    padding: 0vw 0vw;
    margin: 3.5vw auto;
    background-color: white;
    align-items: center;
    position: relative;
    opacity: 1; 
    overflow: hidden;  
    &__load{
        animation: btn $anim-dur;
        animation-fill-mode: backwards;
        @for $i from 1 through $num-btn {
            &--#{$i} {
                animation-delay: $anim-delay * $i;
             }
        }
    }
    &__column{
        width: 75%;
        min-width: 0;
        
        display: flex;
        flex-direction: column; 
        flex-wrap: wrap;
        overflow: hidden;
        white-space: nowrap;              
        text-overflow: ellipsis; 
        padding: 3vw 3vw;
        padding-right: 0vw;
        transition: width 600ms;
        position: relative;
        @include desktop{
            padding: 1vw 1.5vw;
        }
        
    }
    &__txt{
        
        overflow: hidden;
        white-space: nowrap;              
        text-overflow: ellipsis; 
        margin: 0vw;
        font-size: 4.1vw;
        width: 100%;
        @include desktop{
            font-size: 1.5vw;
        }
        &--bold{
            font-weight: bold;
        }
        &--price{
            position: absolute;
            left: 78.69%;
            display: flex;
            align-self: flex-end;
            padding: 0vw 6vw 0vw 6vw;
            transform: translateX(0);
            background-color: $negative;
            transition:  left 400ms;
            transition-timing-function: linear;
            z-index: 3;            
            width: fit-content;
            height: 100%;
            @include desktop{
                left: 80%;
                padding: 0vw 1.5vw;
                transition:  left 900ms;
            }
            
        }
        &--baseline{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 3.4vw 0vw;
        }
    }
    &__activator{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        
        &:hover> .btn__column{
            width: 56.9%;
        }
        &:hover> .btn__txt--price{
            left: 60%;
            }
        &:hover+ .btn__checkbox> .btn__check{
            animation-name: check;
            animation-duration: 400ms;
            animation-timing-function: linear;
            animation-direction: alternate;
            transform-origin: 50% right;
            @include desktop{
                animation-duration: 700ms;
            }
        }
    
    }
    &__check{                
        color: white;
        @include desktop {
            font-size: 2vw;
        }        
    }
    &__checkbox{        
        position: absolute;
        left: 81%;
        overflow: hidden;
        background-color: $tertiary-color;
        padding: 5vw 6vw;

        @include desktop{
            padding: 2vw 1.6vw;

        }       
    }
    &__span{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    //Buttons de la page d'accueil//
    &--line{
        overflow: visible;
        background-color: $light-gray;
        align-items: center;
        justify-content: flex-start;
        padding: 2vw 0vw;
        transition: background-color 500ms, box-shadow 500ms 150ms;
        @include desktop{
            padding: 0.5vw;
        }
        &:hover{
            background-color: lighten($color: $primary-color, $amount: 35%);
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
            &> .btn__icon{
                color: $primary-color;
            }
        }
    }
    &__nmb{
        display: flex;
        color: white;
        background-color: $primary-color;
        width: 8vw;
        height: 8vw;
        justify-content: center;
        align-items: center;
        border-radius: 8vw;
        margin: 2vw;
        margin-left: -3vw;
        @include desktop{
            padding: 0vw;
            width: 3vw;
            height: 3vw;
            margin: 2vw;
        }
        
    }
    &__icon{
        color: $dark-bckground;
        opacity: 0.7;
        transition: color 500ms;
    }
    &_line{
        &__txt--bold{
        font-weight: bold;
        margin: 2vw;}
    }
    
}

//Button heart page d'accueil//
.caption__heart{
    position: relative;
    padding: 3vw;
    border: none;
    background-color: white;
    font-size: 5vw;
    @extend %heartpos;
    @include tablette{
        font-size: 4vw;
        padding: 0vw;
    }
    @include desktop{
        font-size: 2vw;
        padding: 0vw;
    }

        &--full{
            opacity: 0;
            position: absolute;            
            z-index: 2;

            color: $primary-color;
            transition: all 500ms;
            
            &:hover{
                opacity: 1;
                
            }
        }
        &--empty{           
            position: absolute;           
            z-index: 1;
            
        }
    
}

//Button heart des menus//
.menu__heart{
    @extend .caption__heart;
    background-color: $light-gray;
    left: 0vw;
    top: 25%;
    font-size: 8vw;
    @include desktop{
        font-size: 4vw;
    }
    @include tablette{
        top:33%;
        left: 5vw;
    }
        &--full{
            @extend .caption__heart--full;
        }
        &--empty{
            @extend .caption__heart--empty;
        }
}