%shadow{
    box-shadow:$shadow; 
}
%radius{
    border-radius: 5vw;
}

%cornertop{
    border-top-left-radius: 5vw;
    border-top-right-radius: 5vw;
}

%cornerbot{
    border-bottom-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

%heartpos{
    top: 0%;
    left: 0%;
}