@mixin column-centered {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    margin: 0vw auto;
    padding: 4vw 5vw;
    @include desktop{
        width: 40%;
        font-size: 2vw;
        padding: 2vw 0vw;
        
    }
    
    &__form{
        padding: 0vw 0vw;
        @include desktop{
            width: 30%;
            height: 100%;
        }
    }

    &__title{
        align-self: flex-start;
        margin: 1vw 0vw;
        @include desktop{
            align-self: center;
        }
        &--center{
            font-size: 7vw;
            width: 85%;
            text-align: center;
            @include desktop {
                font-size: 3vw;
                
            }
        }
    }
    &__block{
        width: 89%;
        margin: 0vw 0vw;
        padding: 0vh 0vw;
        &--row{
            @include desktop{
                width: 98vw;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                margin: 2vw 0vw;
            }
        }
    }
    &__btn--purple{
        padding: 5vw;
        border-radius: 10vw;
        background: $radiant;
        border: none;
        color: $negative;
        margin: 6vw 0vw;
        font-size: 4vw;
        @extend %shadow;
        transition: filter 500ms, box-shadow 500ms 150ms;
         @include desktop{
            text-align: center;
            padding: 1.5vw;
            font-size: 2vw;
         }
        &:hover{
            filter: brightness(110%);
            box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);

        }
    }
    &__txt{
        margin: 1vw 0vw;
        width: 110%;
        text-align: center;
    }
}



@mixin heartp_pos {
    top: 0%;
    left: 0%;
}

@mixin radiant {
    color: $primary-color;
    color: linear-gradient(355deg, $primary-color 0%, $secondary-color 100%);
    
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
    
}

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
    
}