@mixin heartp_pos {
    top: 0%;
    left: 0%;
}

@mixin radiant {
    color: $primary-color;
    color: linear-gradient(355deg, $primary-color 0%, $secondary-color 100%);
    
}

@mixin tablette {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
        @content;
    }
    
}

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
    
}

@keyframes check{
    0% {transform: translateX(12vw) rotate(0deg) ;}
    100%{transform: translateX(0vw) rotate(360deg) ;}    
}