.container{
    @include column-centered;
    &--lightgray{
        background-color: $light-gray ;
        @include desktop{
            background-color: transparent;
            z-index: 0;
        }
    }
}

.card{
    width: 100%;
    margin: 3vw auto;
    @extend %radius;
    overflow: hidden;
    @extend %shadow;
    display: flex;
    position: relative;
    @include desktop{
        width: 37%;
        height: 40%;

    }
    .fig{
        display: flex;
        width: 100%;
        margin: 0;
        flex-direction: column;
        overflow: hidden;
        @extend %radius;

        &__label{
            &--new{
                position: absolute;
                background-color: rgb(153, 226, 208);
                color: rgb(19, 146, 115);
                font-weight: bold;
                left: 70%;
                font-size: 4vw;
                padding: 1vw 2.5vw;
                border-radius: 1vw;
                @extend %shadow;
                @include desktop{
                    font-size: 1.2vw;
                    left: 80%;
                    padding: 0.8vw 0.7vw;
                    border-radius: 0.5vw;
                }
            }
        }
        &__img{
            display: block;
            width: 100%;
            max-height: 30vw;
            margin: 0;
            @extend %cornertop;
            object-fit: cover;
            object-position: center;
            position: relative;
            @include desktop{
                height: 15vw;
            }
        }
        
    }
    .caption{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 3vw;
        background-color: $negative;
        @extend %cornerbot;
        @include desktop{
            font-size: 1.5vw;
            padding: 1vw 1vw;
            align-items: baseline;
            margin: auto 0vw;
        }
        &__txt{
            margin: 0vw 0vw;
            &--bold{
                
                font-weight: bold;
            }
        }
        &__div{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}

footer{
    background-color: $dark-bckground;
}
