.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0vh auto;
    padding: 0vw 0vw;

    @include desktop{
        padding: 0vw 0vw;
        flex-direction: row;
        align-items: center;
        box-shadow: $shadow;
        z-index: 1;
    }
    >img{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 8vw;
        margin: 0 auto;
        padding: 3vw 0vw;
        @extend %shadow;
        z-index: 1;
        width: 100%;
        @include desktop {
            height: 4vw;
            transform: rotate(-5deg);
            max-width: 50%;
            box-shadow: none;
            
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vw 10vw;
    font-size: 4vw;
    @include desktop{
        font-size: 1.5vw;
        padding: 1vw 2vw;
        flex-wrap: wrap;
    }
    >div{
        display: flex;
        flex-direction: column;
        @include desktop{
            flex-direction: row;
        }
    }
    &__txt{
        color: $negative;
        padding: 0.5vw 0vw;
        @include desktop{
            width: max-content;
            margin: auto;
        }
        &--logo{
            @extend .footer__txt;
            font-family: 'Shrikhand';
            @include desktop{
                display: flex;
                justify-content: center;
                width: max-content;
                font-size: 2vw;
                padding: 1vw 0vw;
                margin: auto;
            }
        }
        &--bold{
            @extend .footer__txt;
            font-weight: bold;
        }
    }
}