.header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0vh auto;
    padding: 0vw 0vw;
    
    &--back{
        flex-direction: row;
        align-items: center;
        box-shadow: none;
        padding: 0vw 0vw;
        position: fixed;
        z-index: 4;
        background-color: white;
        width: 100%;
        @include desktop{
            height: 6vw;
        }
    }
    @include desktop{
        padding: 0vw 0vw;
        flex-direction: row;
        align-items: center;
        box-shadow: $shadow;
        z-index: 1;
    }

    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height: 8vw;
        margin: 0 auto;
        
        padding: 3vw 0vw;
        @extend %shadow;
        z-index: 1;
        width: 100%;
        &--no_shadow{
            box-shadow: none;
            margin-left: -9.5vw;
            @include desktop{
                margin: 0;
            }
        }
        @include desktop {
            height: 2.5vw;
            transform: rotate(-5deg);
            max-width: 50%;
            box-shadow: none;
            
        }
    }
    &__arrow{
        margin-left: 5vw;
        z-index: 4;
        @include desktop{
            font-size: 3vw;
        }
    }
}

.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5vw 10vw;
    font-size: 4vw;
    background-color: $dark-bckground;
    @include desktop{
        font-size: 1.5vw;
        padding: 1vw 2vw;
        flex-wrap: wrap;
    }
    >div{
        display: flex;
        flex-direction: column;
        @include desktop{
            flex-direction: row;
        }
    }
    &__txt{
        color: $negative;
        padding: 0.5vw 0vw;
        @include desktop{
            width: max-content;
            margin: auto;
        }
        &--logo{            
            font-family: $logopolice;
            @include desktop{
                display: flex;
                justify-content: center;
                width: max-content;
                font-size: 2vw;
                padding: 1vw 0vw;
                margin: auto;
            }
        }
        &--bold{           
            font-weight: bold;
        }
    }
}